
.btn-week{
    border: 0px solid;
    background-color: transparent;
    width: 40px;
    height: 30px;
    padding: 0px;
    margin-right: 7px;
    .week-name{
        font-style: normal;
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
        padding: 3.5px;
    }
}