@mixin btn{
    border:0px solid;
    background-color: transparent;
    cursor: pointer;

}
.year-bar{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.months{
    margin-right: 10px;
    margin-left: 40px;;
}
.year{
    // color: #c7bebe;
    margin-bottom:0px;
    margin:0;
}
   
.prev-year,.next-month,.next-year,.prev-month{
    @include btn;
}

.prev-year:hover +.tool-tip{
    display: block;
    left: 20px;
}
    
.next-year:hover+ .tool-tip{
    display: block;
    left: 50px;
    overflow: visible;
    
}
.prev-month:hover+ .tool-tip{
    display: block;
    left: 260px;
}

.next-month:hover+ .tool-tip{
    display: block;
    left: 280px;
    z-index: 200;
    overflow: visible;
}
.icon-chcrt{
    position: absolute;
    left: 305px;
    top:15px;
}
.icon-chclt{
    position: absolute;
    /* margin-left: 10px; */
    left: 280px;
    top:15px;
}
