.event-btn {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, var(--gradient-blue), var(--gradient-green))
      border-box;
  border: 2px solid transparent;
  border-radius: 10px;
  margin: 10px 0px 0px 15px;
  display: flex;
  width: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 3px 15px 5px var(--border-color);
  cursor: pointer;
  .event:hover {
    box-shadow: 4px 8px 15px 10px var(--border-color);
  }

  .plus-logo {
    margin-top: 2px;
    color: var(--bg-primary);
    font-size: 18px;
  }
  .event-tag {
    margin: 0;
    font-family: "Arbeit";
    font-style: normal;
    font-size: large;
    letter-spacing: 0.5px;
    background: -webkit-linear-gradient(
      var(--gradient-blue),
      var(--gradient-green)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
