:root{
  --bg-primary:#eee899;
  --bg-primary-thin:#63f184;
  --bg-primary-thick:#33d525;
  --on-bg-primary:#bdefca;
  --bg-secondary:#777;
  --border-color:#d4d4d4;
  --text-color-primary:#fff;
  --btn-color-primary:#e35252;
  --gradient-blue:#eeeb32;
  --gradient-green:#60eab5;
  --btn-green:#87eb94;
  --transparent:none;
  --hover-thin:#a9f3b2;
  --body-background:rgb(212, 242, 227);
}
