body {
  margin: 0;
  font-family:'Arbeit';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--transparent);
  user-select: none;
}
button{
  font-family: 'Arbeit';
}
h5{
  font-size: 16px;
  margin:10px 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin: 0px;
}
li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}

@media(max-width:450px){
  p{
    font-size: 12px;
  }
}