.mw-350{
    max-width: 350px;
}
.tool-tip{
    display: block;
    position: absolute;
    font-size: 10px;
    color: #777;
    border: 1px solid #777;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0px 3px 11px #636e6e;
    display:none;
    top:30px;
    letter-spacing: 0.3px;
}